<header class="header">
	<div class="header-holder container">

    <a href="#" class="logo">
      <img src="./img/logo.png" alt="logo" width="129" height="26">
    </a>

		<nav class="nav">
      <ul>
        <li><a href="#overview-service">Обзор сервиса</a></li>
        <li><a href="#scenario-block">Сценарии</a></li>
        <li><a href="#faq-block">FAQ</a></li>
      </ul>  
    </nav>

    <div class="navigation">
      <a href="#" class="navigation__link">
        <i class="navigation__icon icon-login"></i>
        <span>Войти</span>
      </a>

      <a href="#" class="navigation__link">
        <i class="navigation__icon icon-registr"></i>
        <span>Регистрация</span>
      </a>
    </div>

	</div>
</header>