.btn {
  font-family: $btn-ff;
  font-size: $btn-fz;
  line-height: $btn-lh;
  font-weight: $btn-fw;
  color: $btn-color;
  border: 1px solid $transp;
  background: $btn-bgc;
  border-radius: $btn-radius;

  box-shadow: 0 -1px 34px 5px rgba(255, 46, 99, 0.27);
  padding: 16px 14px;
  text-align: center;

  min-width: 100px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  appearance: none;
  background-origin: border-box;
  transition: 0.3s ease;
  &:hover {
  }
  &:focus {}
}

button[disabled] {
  color: inherit;
  cursor: not-allowed;
  background-color: $gray;
}