.hero {
  padding: 44px 0 74px;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__content {
    max-width: 700px;
    margin: 74px 36px 0 0;
  }

  &__title {
    font-weight: 800;
    font-size: 52px;
    line-height: 64px;
    margin-bottom: 24px;
    text-align: left;

    span {
      color: $radical;
    }
  }

  &__btn {
    margin-top: 34px;
  }

  &__illustr {}
}

.section-block {
  padding: 74px 0;
}

.list-elem {
  display: flex;
  list-style: none;

  &__desc {
    margin-bottom: 70px;
  }

  &__items {
    text-align: center;
    color: #d8d9e2;
    padding: 34px 22px;
    background: $bay;
    box-shadow: 0 4px 54px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    position: relative;
    max-width: 390px;
    width: 100%;
    margin: 0 36px;
    min-height: 350px;
    flex: 0 0 auto;

    &:first-child,
    &:nth-child(2) {
      .list-elem__pic {
        left: 44%;
      }
    }
  }

  &__title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }

  &__pic {
    position: absolute;
    left: 50%;
    bottom: -26%;
    transform: translateX(-50%);
    width: 100%;
  }
}

.video-frame {
  max-width: 964px;
  height: 460px;
  margin: 0 auto;
  position: relative;
  border-radius: 6px;

  &__holder {
    position: relative;
    height: 100%;
  }

  &__pic {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;

    > img {
      height: 100%;
      width: 100%;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(32, 34, 69, 0.39);
      width: 100%;
      height: 100%;
    }
  }
}

.video-play {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, #4a4e86 8.21%, #202246 100%);
  border: none;

  &:hover {
    @media only screen and (min-width: 1025px) {
      &:after {
        transform: scale(1);        
      }    
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 24px;
    left: 34px;
    border: 10px solid transparent;
    border-left: 10px solid $radical;
    transform: scale(1.2);
    transform-origin: center;
    transition: .2s linear;
  }
}

.grid-layout {
  display: flex;
  flex-wrap: wrap;

  &__items {
    background-color: $bay;
    border-radius: 6px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.14);
    position: relative;
    padding: 48px 44px;
    max-width: 330px;
    width: 100%;

    &.item-sm {
      max-width: 220px;
    }
  }

  &__number {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: #808795;
    background-color: $gore;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 68px;
    position: absolute;
    left: 50%;
    top: -22px;
    transform: translateX(-50%);
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    margin-bottom: 8px;
  }

  &__descr {
    p {

    }
  }

  &__pic {}
}